name: Build Example
on:
  push:
    branches:
      - main
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 20
      - name: install npm
        run: npm install
      - name: Build project
        run: npm run build
      - name: Bundle app & dependencies into zip
        run: |
          zip -r build.zip . \
            -x "*.git*" \
            -x "*/.github/*" \
            -x "build.zip"

