name: Build Example
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install npm
        run: npm install
      - name: Bundle app & dependencies into zip
        run: |
          zip -r build.zip . \
            -x "*.git*" \
            -x "*/.github/*" \
            -x "build.zip"

