name: Dependencies Example
on:
  push:
    branches:
      - main
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 20
      - name: listing and contents of the directories
        run: ls -alhR
